.border {
  border: 1px solid grey; }

.img {
  max-width: 100%;
  padding: 0;
  margin: 0; }

.box {
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%; }

.box_title {
  font-size: 30px; }
