.text-align-center {
  text-align: center; }

.font-color-white {
  color: white; }

.background-color-dark {
  background-color: black; }

.background-color-softdark {
  background-color: #222222; }

.height-10 {
  min-height: 10px; }

.height-20 {
  min-height: 20px; }

.height-30 {
  min-height: 30px; }

.height-40 {
  min-height: 40px; }

.height-50 {
  min-height: 50px; }

.height-100 {
  min-height: 100px; }

.height-150 {
  min-height: 150px; }

.height-200 {
  min-height: 200px; }

.height-250 {
  min-height: 250px; }

.height-300 {
  min-height: 300px; }

.height-350 {
  min-height: 350px; }

.height-400 {
  min-height: 400px; }

.height-450 {
  min-height: 450px; }

.height-500 {
  min-height: 500px; }

@media only screen and (max-width: 1024px) {
  .text-align-sm-center {
    text-align: center; }
  .font-color-sm-white {
    color: white; }
  .background-color-sm-dark {
    background-color: black; }
  .background-color-sm-softdark {
    background-color: #222222; }
  .height-sm-10 {
    min-height: 10px !important; }
  .height-sm-20 {
    min-height: 20px !important; }
  .height-sm-30 {
    min-height: 30px !important; }
  .height-sm-40 {
    min-height: 40px !important; }
  .height-sm-50 {
    min-height: 50px !important; }
  .height-sm-100 {
    min-height: 100px !important; }
  .height-sm-150 {
    min-height: 150px !important; }
  .height-sm-200 {
    min-height: 200px !important; }
  .height-sm-250 {
    min-height: 250px !important; }
  .height-sm-300 {
    min-height: 300px !important; }
  .height-sm-350 {
    min-height: 350px !important; }
  .height-sm-400 {
    min-height: 400px !important; }
  .height-sm-450 {
    min-height: 450px !important; }
  .height-sm-500 {
    min-height: 500px !important; } }
