*{
    word-wrap:break-word;
    font-family: sans-serif;
}

html, body, p{
  padding:0 !important;
  margin: 0 !important;
}

 .row, div[class^="col-"]{
  padding:0 !important;
  margin: 0 !important;
  min-height: 100%;
}

div[id^="btn-"]:hover{
  background-color: red;
}
