.stickyTop{
  background-color: white;
  position: fixed;
  width: 100%;
	top: 0px; /*A value which doesn't exceed the viewport height*/
	left: 0px;
}

.flex{
  display: flex;
  align-items: flex-start;
}
.screenSizeVertical{
  height: 100vh;
}

.expandVertical{
  height: 100%;
}
.left{
  justify-content: flex-start;
}
.right{
  justify-content: flex-end;
}
.up{
  justify-content:flex-start;
}
.down{
  justify-content:flex-end;
}
.centerVertical{
  justify-content:center;
}
.centerHorizontal{
  align-items:center;
}
.center{
  align-items:center;
  justify-content: center;
}
.flow{
  flex-grow: 2 !important;
  flex-basis: none;
  max-width: none;
}
.column{
  flex-direction: column;
}

@media #{$md} {

}
