@import "./variables.scss";

div[class*='col-'], .row{
  display: flex;
  flex-wrap: wrap !important;
  align-items: flex-start;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.pos-0{
  justify-content:none;
  align-items: none;
  align-content: none;
}
.pos-1{
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.pos-2{
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.pos-3{
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
}
.pos-4{
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.pos-5{
  justify-content: center ;
  align-items: center ;
  align-content: center;
}
.pos-6{
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.pos-7{
  justify-content: flex-start ;
  align-items: flex-end ;
  align-content: flex-end ;
}
.pos-8{
  justify-content: center ;
  align-items: flex-end ;
  align-content: flex-end ;
}
.pos-9{
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end ;
}

.pad-0 {padding: $space-0  ;}
.pad-1 {padding: $space-1  ;}
.pad-2 {padding: $space-2  ;}
.pad-3 {padding: $space-3  ;}
.pad-4 {padding: $space-4  ;}
.pad-5 {padding: $space-5  ;}

.pad-left-0 {padding-left: $space-0  ;}
.pad-left-1 {padding-left: $space-1  ;}
.pad-left-2 {padding-left: $space-2  ;}
.pad-left-3 {padding-left: $space-3  ;}
.pad-left-4 {padding-left: $space-4  ;}
.pad-left-5 {padding-left: $space-5  ;}

.pad-right-0 {padding-right: $space-0  ;}
.pad-right-1 {padding-right: $space-1  ;}
.pad-right-2 {padding-right: $space-2  ;}
.pad-right-3 {padding-right: $space-3  ;}
.pad-right-4 {padding-right: $space-4  ;}
.pad-right-5 {padding-right: $space-5  ;}


.pad-top-0 {padding-top: $space-0  ;}
.pad-top-1 {padding-top: $space-1  ;}
.pad-top-2 {padding-top: $space-2  ;}
.pad-top-3 {padding-top: $space-3  ;}
.pad-top-4 {padding-top: $space-4  ;}
.pad-top-5 {padding-top: $space-5  ;}


.pad-bottom-0 {padding-bottom: $space-0  ;}
.pad-bottom-1 {padding-bottom: $space-1  ;}
.pad-bottom-2 {padding-bottom: $space-2  ;}
.pad-bottom-3 {padding-bottom: $space-3  ;}
.pad-bottom-4 {padding-bottom: $space-4  ;}
.pad-bottom-5 {padding-bottom: $space-5  ;}

.mar-0 {margin: $space-0  ;}
.mar-1 {margin: $space-1  ;}
.mar-2 {margin: $space-2  ;}
.mar-3 {margin: $space-3  ;}
.mar-4 {margin: $space-4  ;}
.mar-5 {margin: $space-5  ;}

.mar-left-0 {margin-left: $space-0  ;}
.mar-left-1 {margin-left: $space-1  ;}
.mar-left-2 {margin-left: $space-2  ;}
.mar-left-3 {margin-left: $space-3  ;}
.mar-left-4 {margin-left: $space-4  ;}
.mar-left-5 {margin-left: $space-5  ;}

.mar-right-0 {margin-right: $space-0  ;}
.mar-right-1 {margin-right: $space-1  ;}
.mar-right-2 {margin-right: $space-2  ;}
.mar-right-3 {margin-right: $space-3  ;}
.mar-right-4 {margin-right: $space-4  ;}
.mar-right-5 {margin-right: $space-5  ;}

.mar-top-0 {margin-top: $space-0  ;}
.mar-top-1 {margin-top: $space-1  ;}
.mar-top-2 {margin-top: $space-2  ;}
.mar-top-3 {margin-top: $space-3  ;}
.mar-top-4 {margin-top: $space-4  ;}
.mar-top-5 {margin-top: $space-5  ;}

.mar-bottom-0 {margin-bottom: $space-0  ;}
.mar-bottom-1 {margin-bottom: $space-1  ;}
.mar-bottom-2 {margin-bottom: $space-2  ;}
.mar-bottom-3 {margin-bottom: $space-3  ;}
.mar-bottom-4 {margin-bottom: $space-4  ;}
.mar-bottom-5 {margin-bottom: $space-5  ;}

.round-0 {border-radius: $border-radius-0  ;}
.round-1 {border-radius: $border-radius-1  ;}
.round-2 {border-radius: $border-radius-2  ;}
.round-3 {border-radius: $border-radius-3  ;}
.round-4 {border-radius: $border-radius-4  ;}
.round-5 {border-radius: $border-radius-5  ;}

.order-1{order: 1;}
.order-2{order: 2;}
.order-3{order: 3;}
.order-4{order: 4;}

.col-hidden{
  visibility: hidden;
  display: none   !important;
}
.col-sm-hidden{
  visibility: visible;
  display: inherit   !important;
}



@media only screen and (max-width : $sm){

  .col-1,.col-2,.col-3,
  .col-4,.col-5,.col-6,
  .col-7,.col-8,.col-9,
  .col-10, .col-11,
  .col-12{width: 100%;}

  .col-xs-1 {width: 8.33%;}
  .col-xs-2 {width: 16.66%;}
  .col-xs-3 {width: 25%;}
  .col-xs-4 {width: 33.33%;}
  .col-xs-5 {width: 41.66%;}
  .col-xs-6 {width: 50%;}
  .col-xs-7 {width: 58.33%;}
  .col-xs-8 {width: 66.66%;}
  .col-xs-9 {width: 75%;}
  .col-xs-10 {width: 83.33%;}
  .col-xs-11 {width: 91.66%;}
  .col-xs-12 {width: 100%;}


    .pos-sm-0{
      justify-content: none;
      align-items: none;
      align-content: none;
    }
    .pos-sm-1{
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
    }
    .pos-sm-2{
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
    }
    .pos-sm-3{
      justify-content: flex-end;
      align-items: flex-start ;
      align-content: flex-start;
    }
    .pos-sm-4{
      justify-content: flex-start;
      align-items: center;
      align-content: center ;
    }
    .pos-sm-5{
      justify-content: center;
      align-items: center;
      align-content: center ;
    }
    .pos-sm-6{
      justify-content: flex-end;
      align-items: center;
      align-content: center ;
    }
    .pos-sm-7{
      justify-content: flex-start;
      align-items: flex-end;
      align-content: flex-end ;
    }
    .pos-sm-8{
      justify-content: center;
      align-items: flex-end;
      align-content: flex-end ;
    }
    .pos-sm-9{
      justify-content: flex-end;
      align-items: flex-end;
      align-content: flex-end ;
    }

    .pad-sm-0 {padding: $space-0  ;}
    .pad-sm-1 {padding: $space-1  ;}
    .pad-sm-2 {padding: $space-2  ;}
    .pad-sm-3 {padding: $space-3  ;}
    .pad-sm-4 {padding: $space-4  ;}
    .pad-sm-5 {padding: $space-5  ;}

    .pad-sm-left-0 {padding-left: $space-0  ;}
    .pad-sm-left-1 {padding-left: $space-1  ;}
    .pad-sm-left-2 {padding-left: $space-2  ;}
    .pad-sm-left-3 {padding-left: $space-3  ;}
    .pad-sm-left-4 {padding-left: $space-4  ;}
    .pad-sm-left-5 {padding-left: $space-5  ;}

    .pad-sm-right-0 {padding-right: $space-0  ;}
    .pad-sm-right-1 {padding-right: $space-1  ;}
    .pad-sm-right-2 {padding-right: $space-2  ;}
    .pad-sm-right-3 {padding-right: $space-3  ;}
    .pad-sm-right-4 {padding-right: $space-4  ;}
    .pad-sm-right-5 {padding-right: $space-5  ;}


    .pad-sm-top-0 {padding-top: $space-0  ;}
    .pad-sm-top-1 {padding-top: $space-1  ;}
    .pad-sm-top-2 {padding-top: $space-2  ;}
    .pad-sm-top-3 {padding-top: $space-3  ;}
    .pad-sm-top-4 {padding-top: $space-4  ;}
    .pad-sm-top-5 {padding-top: $space-5  ;}


    .pad-sm-bottom-0 {padding-bottom: $space-0  ;}
    .pad-sm-bottom-1 {padding-bottom: $space-1  ;}
    .pad-sm-bottom-2 {padding-bottom: $space-2  ;}
    .pad-sm-bottom-3 {padding-bottom: $space-3  ;}
    .pad-sm-bottom-4 {padding-bottom: $space-4  ;}
    .pad-sm-bottom-5 {padding-bottom: $space-5  ;}

    .mar-sm-0 {margin: $space-0  ;}
    .mar-sm-1 {margin: $space-1  ;}
    .mar-sm-2 {margin: $space-2  ;}
    .mar-sm-3 {margin: $space-3  ;}
    .mar-sm-4 {margin: $space-4  ;}
    .mar-sm-5 {margin: $space-5  ;}

    .mar-sm-left-0 {margin-left: $space-0  ;}
    .mar-sm-left-1 {margin-left: $space-1  ;}
    .mar-sm-left-2 {margin-left: $space-2  ;}
    .mar-sm-left-3 {margin-left: $space-3  ;}
    .mar-sm-left-4 {margin-left: $space-4  ;}
    .mar-sm-left-5 {margin-left: $space-5  ;}

    .mar-sm-right-0 {margin-right: $space-0  ;}
    .mar-sm-right-1 {margin-right: $space-1  ;}
    .mar-sm-right-2 {margin-right: $space-2  ;}
    .mar-sm-right-3 {margin-right: $space-3  ;}
    .mar-sm-right-4 {margin-right: $space-4  ;}
    .mar-sm-right-5 {margin-right: $space-5  ;}

    .mar-sm-top-0 {margin-top: $space-0  ;}
    .mar-sm-top-1 {margin-top: $space-1  ;}
    .mar-sm-top-2 {margin-top: $space-2  ;}
    .mar-sm-top-3 {margin-top: $space-3  ;}
    .mar-sm-top-4 {margin-top: $space-4  ;}
    .mar-sm-top-5 {margin-top: $space-5  ;}

    .mar-sm-bottom-0 {margin-bottom: $space-0  ;}
    .mar-sm-bottom-1 {margin-bottom: $space-1  ;}
    .mar-sm-bottom-2 {margin-bottom: $space-2  ;}
    .mar-sm-bottom-3 {margin-bottom: $space-3  ;}
    .mar-sm-bottom-4 {margin-bottom: $space-4  ;}
    .mar-sm-bottom-5 {margin-bottom: $space-5  ;}

    .order-sm-1{order: 1  ;}
    .order-sm-2{order: 2  ;}
    .order-sm-3{order: 3  ;}
    .order-sm-4{order: 4  ;}

    .col-hidden{
      visibility: visible;
      display: inherit  !important;
    }
    .col-sm-hidden{
      visibility: hidden;
      display: none  !important;
    }

}
