@import "./variables.scss";

.text-align-center{
  text-align: center;
}

.font-color-white{
  color: $white;
}
.bc-color-dark{
  background-color: $dark;
}
.bc-color-dark{
  background-color: $softdark;
}

.h-10{
  min-height: 10px;
}
.h-20{
  min-height: 20px;
}
.h-30{
  min-height: 30px;
}
.h-40{
  min-height: 40px;
}
.h-50{
  min-height: 50px;
}
.h-100{
  min-height: 100px;
}
.h-150{
  min-height: 150px;
}
.h-200{
  min-height: 200px;
}
.h-250{
  min-height: 250px;
}
.h-300{
  min-height: 300px;
}
.h-350{
  min-height: 350px;
}
.h-400{
  min-height: 400px;
}
.h-450{
  min-height: 450px;
}
.h-500{
  min-height: 500px;
}

@media only screen and (max-width : $sm){

  .h-sm-10{
    min-height: 10px !important;
  }
  .h-sm-20{
    min-height: 20px !important;
  }
  .h-sm-30{
    min-height: 30px !important;
  }
  .h-sm-40{
    min-height: 40px !important;
  }
  .h-sm-50{
    min-height: 50px !important;
  }
  .h-sm-100{
    min-height: 100px !important;
  }
  .h-sm-150{
    min-height: 150px !important;
  }
  .h-sm-200{
    min-height: 200px !important;
  }
  .h-sm-250{
    min-height: 250px !important;
  }
  .h-sm-300{
    min-height: 300px !important;
  }
  .h-sm-350{
    min-height: 350px !important;
  }
  .h-sm-400{
    min-height: 400px !important;
  }
  .h-sm-450{
    min-height: 450px !important;
  }
  .h-sm-500{
    min-height: 500px !important;
  }

}
