$md: 1024px;
$sm: 768px;
$xs: 0px;

$space-0: 0rem;
$space-1: 0.5rem;
$space-2: 1rem;
$space-3: 1.5rem;
$space-4: 2rem;
$space-5: 3rem;

$border-radius-0: 1px;
$border-radius-1: 3px;
$border-radius-2: 5px;
$border-radius-3: 10rem;
$border-radius-4: 25%;
$border-radius-5: 100%;
