div[class*='col-'], .row {
  display: flex;
  flex-wrap: wrap !important;
  align-items: flex-start;
  margin: 0;
  padding: 0; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.pos-0 {
  justify-content: none;
  align-items: none;
  align-content: none; }

.pos-1 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start; }

.pos-2 {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start; }

.pos-3 {
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start; }

.pos-4 {
  justify-content: flex-start;
  align-items: center;
  align-content: center; }

.pos-5 {
  justify-content: center;
  align-items: center;
  align-content: center; }

.pos-6 {
  justify-content: flex-end;
  align-items: center;
  align-content: center; }

.pos-7 {
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end; }

.pos-8 {
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end; }

.pos-9 {
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end; }

.pad-0 {
  padding: 0rem; }

.pad-1 {
  padding: 0.5rem; }

.pad-2 {
  padding: 1rem; }

.pad-3 {
  padding: 1.5rem; }

.pad-4 {
  padding: 2rem; }

.pad-5 {
  padding: 3rem; }

.pad-left-0 {
  padding-left: 0rem; }

.pad-left-1 {
  padding-left: 0.5rem; }

.pad-left-2 {
  padding-left: 1rem; }

.pad-left-3 {
  padding-left: 1.5rem; }

.pad-left-4 {
  padding-left: 2rem; }

.pad-left-5 {
  padding-left: 3rem; }

.pad-right-0 {
  padding-right: 0rem; }

.pad-right-1 {
  padding-right: 0.5rem; }

.pad-right-2 {
  padding-right: 1rem; }

.pad-right-3 {
  padding-right: 1.5rem; }

.pad-right-4 {
  padding-right: 2rem; }

.pad-right-5 {
  padding-right: 3rem; }

.pad-top-0 {
  padding-top: 0rem; }

.pad-top-1 {
  padding-top: 0.5rem; }

.pad-top-2 {
  padding-top: 1rem; }

.pad-top-3 {
  padding-top: 1.5rem; }

.pad-top-4 {
  padding-top: 2rem; }

.pad-top-5 {
  padding-top: 3rem; }

.pad-bottom-0 {
  padding-bottom: 0rem; }

.pad-bottom-1 {
  padding-bottom: 0.5rem; }

.pad-bottom-2 {
  padding-bottom: 1rem; }

.pad-bottom-3 {
  padding-bottom: 1.5rem; }

.pad-bottom-4 {
  padding-bottom: 2rem; }

.pad-bottom-5 {
  padding-bottom: 3rem; }

.mar-0 {
  margin: 0rem; }

.mar-1 {
  margin: 0.5rem; }

.mar-2 {
  margin: 1rem; }

.mar-3 {
  margin: 1.5rem; }

.mar-4 {
  margin: 2rem; }

.mar-5 {
  margin: 3rem; }

.mar-left-0 {
  margin-left: 0rem; }

.mar-left-1 {
  margin-left: 0.5rem; }

.mar-left-2 {
  margin-left: 1rem; }

.mar-left-3 {
  margin-left: 1.5rem; }

.mar-left-4 {
  margin-left: 2rem; }

.mar-left-5 {
  margin-left: 3rem; }

.mar-right-0 {
  margin-right: 0rem; }

.mar-right-1 {
  margin-right: 0.5rem; }

.mar-right-2 {
  margin-right: 1rem; }

.mar-right-3 {
  margin-right: 1.5rem; }

.mar-right-4 {
  margin-right: 2rem; }

.mar-right-5 {
  margin-right: 3rem; }

.mar-top-0 {
  margin-top: 0rem; }

.mar-top-1 {
  margin-top: 0.5rem; }

.mar-top-2 {
  margin-top: 1rem; }

.mar-top-3 {
  margin-top: 1.5rem; }

.mar-top-4 {
  margin-top: 2rem; }

.mar-top-5 {
  margin-top: 3rem; }

.mar-bottom-0 {
  margin-bottom: 0rem; }

.mar-bottom-1 {
  margin-bottom: 0.5rem; }

.mar-bottom-2 {
  margin-bottom: 1rem; }

.mar-bottom-3 {
  margin-bottom: 1.5rem; }

.mar-bottom-4 {
  margin-bottom: 2rem; }

.mar-bottom-5 {
  margin-bottom: 3rem; }

.round-0 {
  border-radius: 1px; }

.round-1 {
  border-radius: 3px; }

.round-2 {
  border-radius: 5px; }

.round-3 {
  border-radius: 10rem; }

.round-4 {
  border-radius: 25%; }

.round-5 {
  border-radius: 100%; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.col-hidden {
  visibility: hidden;
  display: none   !important; }

.col-sm-hidden {
  visibility: visible;
  display: inherit   !important; }

@media only screen and (max-width: 768px) {
  .col-1, .col-2, .col-3,
  .col-4, .col-5, .col-6,
  .col-7, .col-8, .col-9,
  .col-10, .col-11,
  .col-12 {
    width: 100%; }
  .col-xs-1 {
    width: 8.33%; }
  .col-xs-2 {
    width: 16.66%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-4 {
    width: 33.33%; }
  .col-xs-5 {
    width: 41.66%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-7 {
    width: 58.33%; }
  .col-xs-8 {
    width: 66.66%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-10 {
    width: 83.33%; }
  .col-xs-11 {
    width: 91.66%; }
  .col-xs-12 {
    width: 100%; }
  .pos-sm-0 {
    justify-content: none;
    align-items: none;
    align-content: none; }
  .pos-sm-1 {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start; }
  .pos-sm-2 {
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start; }
  .pos-sm-3 {
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start; }
  .pos-sm-4 {
    justify-content: flex-start;
    align-items: center;
    align-content: center; }
  .pos-sm-5 {
    justify-content: center;
    align-items: center;
    align-content: center; }
  .pos-sm-6 {
    justify-content: flex-end;
    align-items: center;
    align-content: center; }
  .pos-sm-7 {
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end; }
  .pos-sm-8 {
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end; }
  .pos-sm-9 {
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end; }
  .pad-sm-0 {
    padding: 0rem; }
  .pad-sm-1 {
    padding: 0.5rem; }
  .pad-sm-2 {
    padding: 1rem; }
  .pad-sm-3 {
    padding: 1.5rem; }
  .pad-sm-4 {
    padding: 2rem; }
  .pad-sm-5 {
    padding: 3rem; }
  .pad-sm-left-0 {
    padding-left: 0rem; }
  .pad-sm-left-1 {
    padding-left: 0.5rem; }
  .pad-sm-left-2 {
    padding-left: 1rem; }
  .pad-sm-left-3 {
    padding-left: 1.5rem; }
  .pad-sm-left-4 {
    padding-left: 2rem; }
  .pad-sm-left-5 {
    padding-left: 3rem; }
  .pad-sm-right-0 {
    padding-right: 0rem; }
  .pad-sm-right-1 {
    padding-right: 0.5rem; }
  .pad-sm-right-2 {
    padding-right: 1rem; }
  .pad-sm-right-3 {
    padding-right: 1.5rem; }
  .pad-sm-right-4 {
    padding-right: 2rem; }
  .pad-sm-right-5 {
    padding-right: 3rem; }
  .pad-sm-top-0 {
    padding-top: 0rem; }
  .pad-sm-top-1 {
    padding-top: 0.5rem; }
  .pad-sm-top-2 {
    padding-top: 1rem; }
  .pad-sm-top-3 {
    padding-top: 1.5rem; }
  .pad-sm-top-4 {
    padding-top: 2rem; }
  .pad-sm-top-5 {
    padding-top: 3rem; }
  .pad-sm-bottom-0 {
    padding-bottom: 0rem; }
  .pad-sm-bottom-1 {
    padding-bottom: 0.5rem; }
  .pad-sm-bottom-2 {
    padding-bottom: 1rem; }
  .pad-sm-bottom-3 {
    padding-bottom: 1.5rem; }
  .pad-sm-bottom-4 {
    padding-bottom: 2rem; }
  .pad-sm-bottom-5 {
    padding-bottom: 3rem; }
  .mar-sm-0 {
    margin: 0rem; }
  .mar-sm-1 {
    margin: 0.5rem; }
  .mar-sm-2 {
    margin: 1rem; }
  .mar-sm-3 {
    margin: 1.5rem; }
  .mar-sm-4 {
    margin: 2rem; }
  .mar-sm-5 {
    margin: 3rem; }
  .mar-sm-left-0 {
    margin-left: 0rem; }
  .mar-sm-left-1 {
    margin-left: 0.5rem; }
  .mar-sm-left-2 {
    margin-left: 1rem; }
  .mar-sm-left-3 {
    margin-left: 1.5rem; }
  .mar-sm-left-4 {
    margin-left: 2rem; }
  .mar-sm-left-5 {
    margin-left: 3rem; }
  .mar-sm-right-0 {
    margin-right: 0rem; }
  .mar-sm-right-1 {
    margin-right: 0.5rem; }
  .mar-sm-right-2 {
    margin-right: 1rem; }
  .mar-sm-right-3 {
    margin-right: 1.5rem; }
  .mar-sm-right-4 {
    margin-right: 2rem; }
  .mar-sm-right-5 {
    margin-right: 3rem; }
  .mar-sm-top-0 {
    margin-top: 0rem; }
  .mar-sm-top-1 {
    margin-top: 0.5rem; }
  .mar-sm-top-2 {
    margin-top: 1rem; }
  .mar-sm-top-3 {
    margin-top: 1.5rem; }
  .mar-sm-top-4 {
    margin-top: 2rem; }
  .mar-sm-top-5 {
    margin-top: 3rem; }
  .mar-sm-bottom-0 {
    margin-bottom: 0rem; }
  .mar-sm-bottom-1 {
    margin-bottom: 0.5rem; }
  .mar-sm-bottom-2 {
    margin-bottom: 1rem; }
  .mar-sm-bottom-3 {
    margin-bottom: 1.5rem; }
  .mar-sm-bottom-4 {
    margin-bottom: 2rem; }
  .mar-sm-bottom-5 {
    margin-bottom: 3rem; }
  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
  .order-sm-3 {
    order: 3; }
  .order-sm-4 {
    order: 4; }
  .col-hidden {
    visibility: visible;
    display: inherit  !important; }
  .col-sm-hidden {
    visibility: hidden;
    display: none  !important; } }
